
.cbtn_download{
    @apply relative w-min;
}
.cbtn_download a{
    @apply w-[300px] h-[60px] flex items-center justify-center;
    @apply font-semibold text-white text-2xl tracking-widest;
    background-position: center;
    background-image: url("../../assets/btn-back.png");
    transform-style: preserve-3d;
    transition: all 0.4s;
}


.cbtn_download:hover{
    transform: translate(2px, 2px);
}
  
.cbtn_download a::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/btn-back.png");
    transform: translate3d(14px, 14px, 0) scale(0.97);
    filter: blur(14px);
    opacity: var(0.84);
    transition: opacity 0.3s;
    border-radius: inherit;
    transition: all 0.4s;
}


.cbtn_download:hover a::before {
    transform: translate3d(6px, 8px, 0) scale(0.97);
    filter: blur(6px);
    opacity: var(0.84);
}

.cbtn_download a::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
    transition: all 3s;
}